In [1]:
#import numpy and pandas
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')

# Load data

The data was downloaded from [Lending club](https://www.lendingclub.com/info/download-data.action), from Year 2013 to Year 2019 Q2.

In [2]:
data_2014 = pd.read_csv('./LoanStats_2014.csv',skiprows=1)
data_2015 = pd.read_csv('./LoanStats_2015.csv',skiprows=1)
data_2016_1 = pd.read_csv('./LoanStats_2016Q1.csv',skiprows=1)
data_2016_2 = pd.read_csv('./LoanStats_2016Q2.csv',skiprows=1)
data_2016_3 = pd.read_csv('./LoanStats_2016Q3.csv',skiprows=1)
data_2016_4 = pd.read_csv('./LoanStats_2016Q4.csv',skiprows=1)
data_2017_1 = pd.read_csv('./LoanStats_2017Q1.csv',skiprows=1)
data_2017_2 = pd.read_csv('./LoanStats_2017Q2.csv',skiprows=1)
data_2017_3 = pd.read_csv('./LoanStats_2017Q3.csv',skiprows=1)
data_2017_4 = pd.read_csv('./LoanStats_2017Q4.csv',skiprows=1)
data_2018_1 = pd.read_csv('./LoanStats_2018Q1.csv',skiprows=1)
data_2018_2 = pd.read_csv('./LoanStats_2018Q2.csv',skiprows=1)
data_2018_3 = pd.read_csv('./LoanStats_2018Q3.csv',skiprows=1)
data_2018_4 = pd.read_csv('./LoanStats_2018Q4.csv',skiprows=1)
data_2019_1 = pd.read_csv('./LoanStats_2019Q1.csv',skiprows=1)
data_2019_2 = pd.read_csv('./LoanStats_2019Q2.csv',skiprows=1)

In [3]:
print('Year 2014:\t', data_2014.shape)
print('Year 2015:\t', data_2015.shape)
print('Year 2016:\t', data_2016_1.shape,data_2016_2.shape,data_2016_3.shape,data_2016_4.shape)
print('Year 2017:\t', data_2017_1.shape,data_2017_2.shape,data_2017_3.shape,data_2017_4.shape)
print('Year 2018:\t', data_2018_1.shape,data_2018_2.shape,data_2018_3.shape,data_2018_4.shape)
print('Year 2019:\t', data_2019_1.shape,data_2019_2.shape)

Year 2014:	 (235631, 144)
Year 2015:	 (421097, 144)
Year 2016:	 (133889, 144) (97856, 144) (99122, 144) (103548, 144)
Year 2017:	 (96781, 144) (105453, 144) (122703, 144) (118650, 144)
Year 2018:	 (107866, 144) (130774, 144) (128196, 144) (128414, 144)
Year 2019:	 (115677, 144) (131141, 144)

In [4]:
data_2014.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9600.0,9600.0,9600.0,36 months,13.66%,326.53,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,D4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Merge data by year (Year 2016-2019)
data_2016 = pd.concat([data_2016_1,data_2016_2,data_2016_3,data_2016_4], axis=0)
data_2017 = pd.concat([data_2017_1,data_2017_2,data_2017_3,data_2017_4], axis=0)
data_2018 = pd.concat([data_2018_1,data_2018_2,data_2018_3,data_2018_4], axis=0)
data_2019 = pd.concat([data_2019_1,data_2019_2], axis=0)

In [6]:
data = pd.concat([data_2014,data_2015,data_2016,data_2017,data_2018,data_2019], axis=0)

In [7]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9600.0,9600.0,9600.0,36 months,13.66%,326.53,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,D4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276798 entries, 0 to 131140
Columns: 144 entries, id to settlement_term
dtypes: float64(106), object(38)
memory usage: 2.5+ GB

We got over 2 million samples in total, for further exploration.

# Data cleaning

### To reduce the unmemory cost, several columns with majority of missing data will be removed here

In [9]:
# missing value proportions 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information greater than 20%
        return mis_val_table_ren_columns[mis_val_table_ren_columns['% of Total Values']>20.0]

missing_values_table(data)

Your selected dataframe has 144 columns.
There are 144 columns that have missing values.

                                            Missing Values  % of Total Values
url                                                2276798              100.0
member_id                                          2276798              100.0
id                                                 2276766              100.0
orig_projected_additional_accrued_interest         2267405               99.6
hardship_length                                    2264848               99.5
hardship_reason                                    2264848               99.5
hardship_status                                    2264848               99.5
deferral_term                                      2264848               99.5
hardship_amount                                    2264848               99.5
hardship_start_date                                2264848               99.5
hardship_end_date                                  2264848               99.5
payment_plan_start_date                            2264848               99.5
hardship_dpd                                       2264848               99.5
hardship_loan_status                               2264848               99.5
hardship_payoff_balance_amount                     2264848               99.5
hardship_last_payment_amount                       2264848               99.5
hardship_type                                      2264848               99.5
desc                                               2261451               99.3
debt_settlement_flag_date                          2239387               98.4
settlement_status                                  2239387               98.4
settlement_date                                    2239387               98.4
settlement_amount                                  2239387               98.4
settlement_percentage                              2239387               98.4
settlement_term                                    2239387               98.4
sec_app_mths_since_last_major_derog                2230006               97.9
sec_app_revol_util                                 2135213               93.8
revol_bal_joint                                    2132821               93.7
sec_app_chargeoff_within_12_mths                   2132820               93.7
sec_app_inq_last_6mths                             2132820               93.7
sec_app_mort_acc                                   2132820               93.7
sec_app_open_acc                                   2132820               93.7
sec_app_open_act_il                                2132820               93.7
sec_app_num_rev_accts                              2132820               93.7
sec_app_earliest_cr_line                           2132820               93.7
sec_app_collections_12_mths_ex_med                 2132820               93.7
verification_status_joint                          2129209               93.5
dti_joint                                          2120135               93.1
annual_inc_joint                                   2120131               93.1
mths_since_last_record                             1911291               83.9
mths_since_recent_bc_dlq                           1745274               76.7
mths_since_last_major_derog                        1674749               73.6
mths_since_recent_revol_delinq                     1519845               66.8
next_pymnt_d                                       1257590               55.2
mths_since_last_delinq                             1163598               51.1
il_util                                             873849               38.4
mths_since_rcnt_il                                  686337               30.1
all_util                                            635718               27.9
open_acc_6m                                         635446               27.9
total_cu_tl                                         635446               27.9
inq_last_12m                                        635446               27.9
open_il_12m                                         635445               27.9
open_il_24m                                         635445               27.9
open_act_il                                         635445               27.9
total_bal_il                                        635445               27.9
open_rv_12m                                         635445               27.9
open_rv_24m                                         635445               27.9
inq_fi                                              635445               27.9
max_bal_bc                                          635445               27.9

In [10]:
# Drop the features above listed
columns = ['url','member_id','id','orig_projected_additional_accrued_interest', 'hardship_start_date', 
           'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 
           'hardship_dpd', 'hardship_loan_status', 'hardship_payoff_balance_amount', 
           'hardship_last_payment_amount', 'hardship_amount', 'deferral_term', 
           'hardship_status', 'hardship_reason', 'hardship_type', 'desc', 
           'sec_app_mths_since_last_major_derog', 'settlement_term', 
           'debt_settlement_flag_date', 'settlement_date', 'settlement_amount', 
           'settlement_percentage', 'settlement_status', 'sec_app_revol_util', 
           'revol_bal_joint', 'sec_app_open_act_il', 'sec_app_earliest_cr_line', 
           'sec_app_inq_last_6mths', 'sec_app_open_acc', 'sec_app_mort_acc', 
           'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 
           'sec_app_collections_12_mths_ex_med', 'verification_status_joint',
           'dti_joint', 'annual_inc_joint', 'mths_since_last_record', 
           'mths_since_recent_bc_dlq', 'mths_since_last_major_derog', 
           'mths_since_recent_revol_delinq', 'mths_since_last_delinq', 'next_pymnt_d', 
           'il_util', 'mths_since_rcnt_il', 'all_util', 'open_acc_6m', 'total_cu_tl', 
           'inq_last_12m', 'open_act_il', 'open_il_12m', 'max_bal_bc', 'open_rv_24m', 
           'open_rv_12m', 'total_bal_il', 'open_il_24m', 'inq_fi']

data = data.drop(labels=columns, axis=1)

# save to local disk
data.to_csv('./data.csv', index=False)

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276798 entries, 0 to 131140
Data columns (total 86 columns):
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                          object
int_rate                      object
installment                   float64
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                    float64
verification_status           object
issue_d                       object
loan_status                   object
pymnt_plan                    object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line              object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                    object
total_acc                     float64
initial_list_status           object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                  object
last_pymnt_amnt               float64
last_credit_pull_d            object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type              object
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
total_rev_hi_lim              float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                 object
debt_settlement_flag          object
dtypes: float64(63), object(23)
memory usage: 1.5+ GB